// Variables

// scss-docs-start theme-color-variables
$primary: #0f5ef7;
$secondary: #ffb800;
$danger: #ef3737;


// Body
$body-bg: #f4f7ff;
$body-color: #020303;


// Fonts and typo
$font-family-base: 'Inter', sans-serif;

$headings-font-weight: 800;


// Navbar
$navbar-dark-color: rgba(#fff, .75);
$navbar-dark-hover-color: rgba(#fff, .9);

