.btn {
    display: inline-flex;
    align-items: center;

    &,
    &:focus {
        outline: none;
        box-shadow: none;
    }

    &.btn-danger {
        color: $white;
    }

    .btn__text {
        & + i {
            margin-left: .5rem;
        }
    }

    i {
        & + .btn__text {
            margin-left: .5rem;
        }
    }
}
